.mockup-bg {
    background-color: #42dff4;
   
}
.mockup-border {
    border: 2px solid #1AD3ED;
   
}
.header-bg {
    font-family: 'Nunito', sans-serif; 
    
}
.mockup-description{
    margin-top: -17%;
    font-family: 'Nunito', sans-serif; 
    margin-bottom: 10px;
}
.message {
    font-family: 'Lato', sans-serif;
}

.me-img {
    border-radius: 100%;
    
}
.me {
    background-color: #56B48C;
    font-family: 'Nunito', sans-serif; 
    
}
.footer {
    font-family: 'Lato', sans-serif;
    background-color: #84D0AF;
}